<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Easton Martin</h2>
  <hr />
  <br>
  <a href="http://13.52.77.160:5000/about">About Me</a>
  <p class="head">Interests</p>
  <ul>
    <li>Snowboarding</li>
    <li>Hiking</li>
    <li>Camping</li>
    <li>Data Analytics</li>
    <li>Data Engineering</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Python</li>
    <li>Structured Query Language</li>
    <li>Tableau</li>
    <li>Microsoft Office</li>
    <li>Amazon Web Services</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="https://www.gilbertschools.net/highlandhigh">
      <li>Highland High School</li>
    </a>
    <!--Link-->
    <a href="https://www.usu.edu/">
      <li>Utah State University</li>
    </a>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Business Ambassador for the Jon M. Huntsman School of Business</li>
    <li>Recreation Assistant at Legacy House of Logan</li>
    <li>Supervisor at ThaiChili 2 Go</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>USUSA Traditions Committee</li>
    <li>Extra Mile Club</li>
    <li>Swim & Dive Club</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Easton Martin</h2></div>
</html>
